@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;800;900&display=swap");
@import "./header.scss";
@import "./home.scss";
@import "./character.scss";
@import "./comic.scss";



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

body {
  background-color: black;
  color : white;
}
